.Homepage {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1b9c36;
    background-size: cover;
    background-position: center;
    font-family: 'Ubuntu Mono', monospace;
}

.mainLogo {
    height: 300px;
}